.stonks {
    background-image: url(./stonks.gif);
    background-repeat: repeat;
}

.not_found {
    background-image: url(./404.gif);
    background-repeat: repeat;
    height: 100%;
}

.not_found_title {
    position: relative;
    top: 50%;
    text-align: center;
    color: red;
    font-size: 8em;
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
}